<div class="create" ng-show="ctrl.currentUser && !ctrl.currentUser.disallowUpdates">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <h2 class="col-sm-10" ng-if="ctrl.mode === 'create'">Create a Document</h2>
    <h2 class="col-sm-10" ng-if="ctrl.mode === 'edit'">Edit "{{ ctrl.uri }}"</h2>
  </div>
  <form class="form-horizontal" name="createForm" novalidate>
    <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2">
        <strong class="required alert-danger"><em>required</em></strong>
      </div>
    </div>
    <div class="form-group" ng-if="createForm.$submitted && !createForm.$valid">
      <div class="col-sm-10 col-sm-offset-2">
        <p class="text-danger">
          <alert type="danger"><strong>Invalid input, details below.</strong></alert>
        </p>
        <!-- uncomment to view errors in the form
        <ul>
          <li ng-repeat="(key, errors) in createForm.$error track by $index"> <strong>{{ key }}</strong> errors
            <ul>
              <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
            </ul>
          </li>
        </ul>
        -->
     </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label required">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="person's name" ng-model="ctrl.person.name"
               required name="name" minlength="3" maxlength="100">

      </div>
    </div>
    <div class="row form-error" ng-if="(createForm.$submitted || createForm.name.$touched) && createForm.name.$error">
      <div class="col-md-10 col-md-offset-2 has-error has-feedback" >
        <div ng-messages="createForm.name.$error">
          <p class="alert alert-danger" ng-message="required">Person's name is required.</p>
          <p class="alert alert-danger" ng-message="minlength">Minimum 3 characters.</p>
          <p class="alert alert-danger" ng-message="maxlength">Maximum of 100 characters.</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">About</label>
      <div class="col-sm-10">
        <textarea class="form-control" ui-tinymce="ctrl.editorOptions" ng-model="ctrl.person.about"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Greeting</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="ctrl.person.greeting" placeholder="How this person should be greeted on login">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Balance</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="ctrl.person.balance" placeholder="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Picture</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="ctrl.person.picture" placeholder="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Age</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" ng-model="ctrl.person.age" placeholder="" name="age" string-to-number>
      </div>
    </div>
    <div class="row form-error" ng-if="(createForm.$submitted || createForm.age.$touched) && createForm.age.$error">
      <div class="col-md-10 col-md-offset-2 has-error has-feedback" >
        <div ng-messages="createForm.age.$error">
          <p class="alert alert-danger" ng-message="number">Invalid age format.</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label required">Eye Color</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="ctrl.person.eyeColor" placeholder="" name="eyeColor" required>
      </div>
    </div>
    <div class="row form-error" ng-if="(createForm.$submitted || createForm.eyeColor.$touched) && createForm.eyeColor.$error">
      <div class="col-md-10 col-md-offset-2 has-error has-feedback" >
        <div ng-messages="createForm.eyeColor.$error">
          <p class="alert alert-danger" ng-message="required">Eye Color is required.</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label required">Gender</label>
      <div class="col-sm-1">
        <label class="radio-inline"><input type="radio" value="female" ng-model="ctrl.person.gender"
                                           placeholder="" name="gender" ng-required="!ctrl.person.gender">Female</label>
      </div>
      <div class="col-sm-1">
        <label class="radio-inline"><input type="radio" value="male" ng-model="ctrl.person.gender"
                                           placeholder="" name="gender" ng-required="!ctrl.person.gender">Male</label>
      </div>
    </div>
    <div class="row form-error" ng-if="(createForm.$submitted || createForm.gender.$touched) && createForm.gender.$error">
      <div class="col-md-10 col-md-offset-2 has-error has-feedback" >
        <div ng-messages="createForm.gender.$error">
          <p class="alert alert-danger" ng-message="required">Gender is required.</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Company</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="ctrl.person.company" placeholder="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" ng-model="ctrl.person.email" placeholder="" name="email">
      </div>
    </div>
    <div class="row form-error" ng-if="(createForm.$submitted || createForm.email.$touched) && createForm.email.$error">
      <div class="col-md-10 col-md-offset-2 has-error has-feedback" >
        <div ng-messages="createForm.email.$error">
          <p class="alert alert-danger" ng-message="email">Invalid email format.</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Phone</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="ctrl.person.phone" placeholder="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Address</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="ctrl.person.address" placeholder="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Location</label>
      <div class="col-sm-5">
        <input type="number" class="form-control" ng-model="ctrl.person.location.latitude" placeholder=""
          min="-90" max="90" name="latitude" ng-required="ctrl.person.location.longitude" string-to-number>
      </div>
      <div class="col-sm-5">
        <input type="number" class="form-control" ng-model="ctrl.person.location.longitude" placeholder=""
          min="-180" max="180" name="longitude" ng-required="ctrl.person.location.latitude" string-to-number>
      </div>
    </div>
    <div class="row form-error" ng-if="(createForm.$submitted || createForm.latitude.$touched) && createForm.latitude.$error">
      <div class="col-md-10 col-md-offset-2 has-error has-feedback" >
        <div ng-messages="createForm.latitude.$error">
          <p class="alert alert-danger" ng-message="required">Latitude is required if longitude is filled.</p>
          <p class="alert alert-danger" ng-message="min">Minimum value for latitude is -90.</p>
          <p class="alert alert-danger" ng-message="max">Maximum value for latitude is 90.</p>
        </div>
      </div>
    </div>
    <div class="row form-error" ng-if="(createForm.$submitted || createForm.longitude.$touched) && createForm.longitude.$error">
      <div class="col-md-10 col-md-offset-2 has-error has-feedback" >
        <div ng-messages="createForm.longitude.$error">
          <p class="alert alert-danger" ng-message="required">Longitude is required if latitude is filled.</p>
          <p class="alert alert-danger" ng-message="min">Minimum value for longitude is -180.</p>
          <p class="alert alert-danger" ng-message="max">Maximum value for longitude is 180.</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Tags</label>
      <div class="col-sm-10">
        <input type="text" ng-model="ctrl.newTag">
        <button class="add-feature btn btn-default btn-sm" ng-click="ctrl.addTag()">Add</button>
      </div>
      <div class="col-sm-10 col-sm-offset-2">
        <div class="tag btn btn-info" ng-repeat="tag in ctrl.person.tags">
          <span>{{tag}}</span>
          <span class="glyphicon glyphicon-remove-circle" ng-click="ctrl.removeTag($index)"></span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Active</label>
      <div class="col-sm-1">
        <label class="checkbox">
          <input type="checkbox" ng-model="ctrl.person.isActive" ng-true-value="'true'" ng-false-value="'false'">
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label required">Document Format</label>
      <div class="col-sm-1">
        <label class="radio-inline"><input type="radio" name="docFormat" value="json" ng-model="ctrl.person.docFormat" placeholder=""
                                           ng-disabled="ctrl.mode == 'edit'"
                                           ng-required="!ctrl.person.docFormat">JSON</label>
      </div>
      <div class="col-sm-1">
        <label class="radio-inline"><input type="radio" name="docFormat" value="xml" ng-model="ctrl.person.docFormat" placeholder=""
                                           ng-disabled="ctrl.mode == 'edit'"
                                           ng-required="!ctrl.person.docFormat">XML</label>
      </div>
    </div>
    <div class="row form-error" ng-if="(createForm.$submitted || createForm.docFormat.$touched) && createForm.docFormat.$error">
      <div class="col-md-10 col-md-offset-2 has-error has-feedback" >
        <div ng-messages="createForm.docFormat.$error">
          <p class="alert alert-danger" ng-message="required">Document Format is required.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <a class="btn btn-default" ui-sref="root.search">Search</a>
      <button class="btn btn-primary" ng-click="createForm.$valid && ctrl.submit()">Submit</button>
    </div>
  </form>
</div>

