<div class="create" ng-show="model.user.authenticated">
  <div class="row">
    <div class="col-sm-2"></div>
    <h2 class="col-sm-10">Create a Document</h2>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="person's name" ng-model="model.person.name">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">About</label>
      <div class="col-sm-10">
        <textarea class="form-control" ckeditor="editorOptions" ng-model="model.person.about" placeholder="In this section provide a description of the person."></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Greeting</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="model.person.greeting" placeholder="How this person should be greeted on login">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Balance</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="model.person.balance" placeholder="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Picture</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="model.person.picture" placeholder="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Age</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="model.person.age" placeholder="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Eye Color</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="model.person.eyeColor" placeholder="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Gender</label>
      <div class="col-sm-2">
        <label class="radio-inline"><input type="radio" value="Female" ng-model="model.person.gender" placeholder="">Female</label>
      </div>
      <div class="col-sm-2">
        <label class="radio-inline"><input type="radio" value="Male" ng-model="model.person.gender" placeholder="">Male</label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Company</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="model.person.company" placeholder="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" ng-model="model.person.email" placeholder="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Phone</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="model.person.phone" placeholder="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Address</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="model.person.address" placeholder="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Location</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" ng-model="model.person.latitude" placeholder="">
      </div>
      <div class="col-sm-5">
        <input type="text" class="form-control" ng-model="model.person.longitude" placeholder="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Tags</label>
      <div class="col-sm-10">
        <input type="text" ng-model="model.newTag"/>
        <button class="add-feature" ng-click="addTag()">Add</button>
      </div>
      <div class="col-sm-10">
        <div class="tag btn btn-info" ng-repeat="tag in model.person.tags">
          <span>{{tag}}</span>
          <span class="glyphicon glyphicon-remove-circle" ng-click="removeFeature(tag)"></span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Active</label>
      <div class="col-sm-1">
        <label class="checkbox">
          <input type="checkbox" ng-model="model.person.isActive">
        </label>
      </div>
    </div>

    <div class="row">
      <a class="col-sm-offset-9 col-sm-1" href="/">Cancel</a>
      <button class="col-sm-2 btn btn-primary" ng-click="submit()">Submit</button>
    </div>
  </form>
</div>
