<div ng-show="model.user.authenticated">
  <div class="row">
    <div class="col-sm-2"></div>
    <h2 class="col-sm-10">Edit your profile</h2>
  </div>
  <form class="form-horizontal" name="profileForm">
    <div class="form-group">
      <div class="row">
        <label class="col-sm-2 control-label">Full name</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" placeholder="full name of user" ng-model="model.user.fullname">
        </div>
      </div>
    </div>
    <div class="form-group">
      <!-- show empty field if no emails yet -->
      <div class="row">
        <label class="col-sm-2 control-label">E-mail(s)</label>
        <div class="col-sm-6">
          <input type="email" name="newEmail" class="form-control" placeholder="e-mail of user" ng-model="model.newEmail">
        </div>
        <div class="col-sm-1">
          <button class="btn btn-default" ng-click="addEmail()">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </div>
      <div class="row valid-email">
        <div class="col-sm-offset-2 col-sm-6 error" ng-show="profileForm.newEmail.$error.email">Not valid email!</div>
      </div>
      <!-- always show add button -->
      <!-- repeat if there are emails -->
      <div class="row" ng-repeat="email in model.user.emails track by $index">
        <div class="col-sm-offset-2 col-sm-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="e-mail of user" ng-model="model.user.emails[$index]">
            <span class="input-group-addon" ng-click="removeEmail($index)">
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <a class="col-sm-offset-5 col-sm-1" href="/">Cancel</a>
      <button class="col-sm-2 btn btn-primary" ng-click="submit()">Submit</button>
    </div>
  </form>
</div>
