<div class="row detail" data-ng-if="!model.detail.latitude || !model.detail.longitude">
  <!-- display JSON data -->
  <div class="panel panel-default">
    <div class="panel-heading">Data</div>
    <div class="panel-body">
      <json-explorer data="model.detail"></json-explorer>
    </div>
  </div>
</div>
<div class="row detail" data-ng-if="model.detail.latitude && model.detail.longitude">
  <div class="col-sm-8">
    <!-- display JSON data -->
    <div class="panel panel-default">
      <div class="panel-heading">Data</div>
      <div class="panel-body">
        <json-explorer data="model.detail"></json-explorer>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <!-- display data on ESRI Map -->
    <div class="panel panel-default">
      <div class="panel-heading">Map</div>
      <div class="panel-body">
        <detail-map detail="model.detail" container-id="detailMap"></detail-map>
      </div>
    </div>
  </div>
</div>
