<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.tmp) styles/all.css -->
    <link rel="stylesheet" href="/bower_components/ng-json-explorer/src/gd-ui-jsonexplorer.css">
    <link rel="stylesheet" href="bower_components/highlightjs/styles/default.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="sample">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Sample App</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">Search</a></li>
          <li><a href="/create">Create</a></li>
        </ul>
        <div class="navbar-form navbar-left">
          <ml-remote-input></ml-remote-input>
        </div>
        <ml-user></ml-user>
      </div><!-- /.navbar-collapse -->
    </nav>
    <!-- Add your site or application content here -->
    <div class="container" ng-view=""></div>

    <div id="footer">
      <div class="powered"></div>
    </div>

    <!-- build:js scripts/plugins.js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/ckeditor/ckeditor.js"></script>
    <script src="bower_components/ng-ckeditor/ng-ckeditor.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/ng-json-explorer/src/gd-ui-jsonexplorer.js"></script>
    <script src="bower_components/angular-highlightjs/angular-highlightjs.js"></script>
    <script src="bower_components/highlightjs/highlight.pack.js"></script>
    <script src="bower_components/ml-utils/ml-utils.min.js"></script>
    <script src="/bower_components/ml-common-ng/dist/ml-common-ng.min.js"></script>
    <script src="/bower_components/ml-search-ng/dist/ml-search-ng.js"></script>
    <script src="/bower_components/ml-search-ng/dist/ml-search-ng-tpls.min.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/scripts.js -->
    <script src="app.js"></script>
    <script src="search/search.js"></script>
    <script src="search/search-ctrl.js"></script>
    <script src="detail/detail.js"></script>
    <script src="detail/detail-ctrl.js"></script>
    <script src="user/user.js"></script>
    <script src="user/user-dir.js"></script>
    <script src="user/user-srv.js"></script>
    <script src="user/profile.js"></script>
    <script src="create/create.js"></script>
    <script src="create/create-ctrl.js"></script>
    <script src="create/compile.js"></script>
    <script src="common/common.js"></script>
    <!-- endbuild -->
  </body>
</html>
