<div class="facet-list">
  <div class="chiclets">
    <div ng-repeat="(index, chiclet) in selected | object2Array">
      <div ng-repeat="value in chiclet.values" class="btn btn-primary">
        <span>{{ chiclet.__key }}: {{ value }}</span>
        <span class="glyphicon glyphicon-remove-circle icon-white" ng-click="clear({facet: chiclet.__key, value: value})"></span>
      </div>
    </div>
  </div>
  <div class="facet" ng-repeat="(index, facet) in facets | object2Array">
    <h3>{{ facet.__key }}</h3>
    <div ng-repeat="value in facet.facetValues">
      <a ng-click="select({facet: facet.__key, value: value.name})">{{value.name}} ({{value.count}})</a>
    </div>
  </div>
</div>