<div ng-show="mode == 'view'" class="editable" ng-mouseover="hover=true" ng-mouseleave="hover=false">
  <span class="value">{{editModel}}</span>
  <span ng-show="enabled && mode == 'view' && hover" ng-click="enabled && (mode = 'edit')" class="glyphicon glyphicon-edit"></span>
</div>
<div ng-show="mode == 'edit' &amp;&amp; editType === 'textarea'" class="editor">
  <textarea ng-model="editModel" rows="10"></textarea>
  <a href="#" ng-click="mode = 'view'">Cancel</a>
  <button class="btn btn-primary" ng-click="mode='view'; save()">Save</button>
</div>
<div ng-show="mode == 'edit' &amp;&amp; editType === 'text'" class="editor">
  <input type="text" ng-model="editModel"/>
  <a href="#" ng-click="mode = 'view'">Cancel</a>
  <button class="btn btn-primary" ng-click="mode='view'; save()">Save</button>
</div>
<div ng-show="mode == 'edit' &amp;&amp; editType === 'select'" class="editor">
  <select ng-model="editModel" ng-options="option for option in editOptions" ng-change="mode='view'; save()"></select>
</div>
