<ul class="features-view col-md-12" ng-show="mode == 'view'" ng-click="enabled && (mode = 'edit')">
  <label>Features</label>
  <li ng-repeat="feature in editFeatures">{{feature}}</li>
</ul>
<div class="features-edit col-md-12 form-horizontal" ng-show="mode == 'edit'">
  <div class="form-group">
    <label class="col-sm-2 control-label">Features</label>
    <div class="col-sm-10">
      <select ng-model="featureChoices.optFeature">
        <option>Select...</option>
        <option class="selected-feature" ng-repeat="feature in featureChoices.list">{{feature}}</option>
      </select>
      <input type="text" ng-model="featureChoices.selFeature"/>
      <button class="add-feature" ng-click="addFeature()">Add</button>
    </div>
    <div class="col-sm-10">
      <div class="feature btn btn-info" ng-repeat="feature in editFeatures">
        <span>{{feature}}</span>
        <span class="glyphicon glyphicon-remove-circle" ng-click="removeFeature(feature)"></span>
      </div>
      <div class="inline-controls" ng-show="editType === 'inline'">
        <a href="#" ng-click="mode = 'view'">Cancel</a>
        <button class="inline-save btn btn-primary" ng-click="mode='view'; save()">Save</button>
      </div>
    </div>
  </div>
</div>
