@import (inline) "./adminLTE.css";

/* If using a dark background, you need to use the white ML logo
.logo-lg #logo {
background: url('/images/MarkLogic-white.png') no-repeat;
background-size: 95%;
}
*/

a {
cursor: pointer;
cursor: hand;
}

.row {
padding: 0 15px;
}

h1 {
margin-top: 0px;
padding: 30px 15px 15px 15px;
font-size: 24px;
}

.search.row {
background-color: #fff;
}

span.search-input-icon.search-input-clear.form-control-feedback {
margin-right: 35px;
color: #000;
z-index: 10;
}
